@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$page-line-height: 2.5em;
$page-underline-height: 0.1em;
$site-background-color: rgb(233, 233, 233);
$secondary-color: rgb(42, 49, 51);
$secondary-color-lighten-1: rgb(72, 77, 78);
$secondary-color-lighten-2: rgb(97, 102, 102);
$note-color: rgb(226, 212, 186);
$note-color-lighten-1: lighten($color: $note-color, $amount: 3%);
$note-color-lighten-2: lighten($color: $note-color, $amount: 5%);

* {
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: $site-background-color;
}

#root {
    height: inherit;
}

#root > div {
    height: inherit;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.navbar {
    background-color: $secondary-color;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    color: white;
    position: relative;
    margin: 1em 0.6em;
    display: inline-block;
}

.nav-item:not(.nav-username)::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    content: '';
    background-color: white;
    height: 1px;
    transition: .3s;
}

.nav-item:hover::after {
    width: 100%;
}

.nav-username {
    font-weight: bold;
}

.logout-btn {
    border: none;
    background-color: inherit;
    font-size: 1em;
    cursor: pointer;
}

@media (min-width: 900px) {
    body {
        font-size: 18px;
    }
}

/*form*/

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em;
    height: 100%;
}

.form-wrapper .form-heading {
    margin-bottom: 1.5em;
}

.form-wrapper .error {
    display: block;
    width: 100%;
    padding: 1em;
    margin-bottom: 2em;
    color: white;
    background: rgb(66, 66, 66);
    border-left: 4px solid black;
    border-radius: 2px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.form-wrapper form {
    width: 100%;
}

.form-wrapper form label:not(:first-child) {
    display: block;
    width: 100%;
    margin-top: 2.5em;
}

.form-wrapper form input {
    display: block;
    width: 100%;
    margin: 1em 0;
    padding: 1em;
    font-size: 1em;
}

.form-wrapper form input[type=text], input[type=password] {
    background-color: inherit;
    border: none;
    border-bottom: 3px solid rgb(204, 204, 204);
    transition: 0.3s;
}

.form-wrapper form input[type=text]:focus, input[type=password]:focus {
    border-bottom: 3px solid darken($color: rgb(204, 204, 204), $amount: 20);
}

.form-wrapper form input[type=submit] {
    margin-top: 2.5em;
    padding: 0.7em;
    border: none;
    border-radius: 0.3em;
    background-color: $secondary-color;
    color: white;
    cursor: pointer;
    font-size: inherit;
    transition: 0.3s;
}

.form-wrapper form input[type=submit]:hover {
    background-color: $secondary-color-lighten-1;
}

.form-wrapper form input[type=submit]:focus, input[type=submit]:active {
    background-color: $secondary-color-lighten-2;
}

@media (min-width: 900px) {
    .form-wrapper .error {
        width: 50%;
    }
    
    .form-wrapper form {
        width: 50%;
    }
}

/*note-page*/
.note-page {
    height: 100%;
    display: flex;
    justify-content: center;
}

.note-wrapper {
    width: 100%;
}

.note-header {
    background-color: $note-color;
    border-bottom: 0.15em solid $secondary-color;
    padding: 1em;
    padding-left: 3em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.note-header-info h2, input {
    word-wrap: break-word;
    white-space: pre-wrap;
}

.note-header-btns {
    margin-top: 0.5em;
    display: flex;
    /*align top-left and don't stretch vertically*/
    justify-content: flex-end;
    align-items: flex-start;
}

.note-edit-btn {
    padding: 0.5em 2em;
    margin-right: 1em;
    border: 2px solid $secondary-color;
    border-radius: 0.4em;
    color: $secondary-color;
    transition: 0.3s;
}

.note-edit-btn:hover {
    background-color: $note-color-lighten-1;
}

.note-edit-btn:focus, .note-edit-btn:active {
    background-color: $note-color-lighten-2;
}

.note-delete-btn {
    padding: 0.6em 1.5em;
    border: none;
    cursor: pointer;
    font-size: 1em;
    background-color: $secondary-color;
    border-radius: 0.4em;
    color: white;
    transition: 0.3s;
}

.note-delete-btn:hover {
    background-color: $secondary-color-lighten-1;
}

.note-delete-btn:focus, .note-delete-btn:active {
    background-color: $secondary-color-lighten-2;
}

.note-body {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: $note-color;
    background-image: -moz-linear-gradient(top, transparent $page-line-height - $page-underline-height, $secondary-color 0),
    -webkit-radial-gradient(1.5em, circle closest-side,$site-background-color 0.5em, transparent 0),
    -webkit-radial-gradient(1.45em 1.18em, circle closest-corner, black, rgba(0, 0, 0, 0.2) 0.5em, transparent 0);
    background-size: 100% $page-line-height;
    padding-left: 3em;
    padding-right: 1em;
    line-height: $page-line-height;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.note-footer {
    background-color: $note-color;
    padding: 2em;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 900px) {
    .note-wrapper {
        width: 50%;
        margin-top: 2em;
    }
    
    /*place info and buttons on the same line*/
    .note-header {
        border-radius: 0.5em 0.5em 0 0;
    }

    .note-footer {
        border-radius: 0 0 0.5em 0.5em;
    }
}

/*note-form*/
.note-form-wrapper {
    display: flex;
    justify-content: center;
}

.note-form-wrapper form {
    width: 100%;
}

.note-form-header {
    background-color: $note-color;
    border-bottom: 0.15em solid $secondary-color;
    padding: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.note-form-header h2 {
    text-align: center
}

.note-form-header .error {
    text-align: center;
}

.note-form-header #title {
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 1.5em;
    width: 100%;
    resize: none;
    height: 0;
}

.note-form-body {
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: $note-color;
    background-image: -moz-linear-gradient(top, transparent $page-line-height - $page-underline-height, $secondary-color 0),
    -webkit-radial-gradient(1.5em, circle closest-side,$site-background-color 0.5em, transparent 0),
    -webkit-radial-gradient(1.45em 1.18em, circle closest-corner, black, rgba(0, 0, 0, 0.2) 0.5em, transparent 0);
    background-size: 100% $page-line-height;
    padding-left: 3em;
    padding-right: 1em;
    font-size: 1em;
    /*#e8dcc2*/
    line-height: $page-line-height;
    border: none;
    width: 100%;
    resize: none;
    height: $page-line-height;
}

.note-form-footer {
    position: relative;
    background-color: $note-color;
    padding: 1em;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
}

.note-form-save-btn {
    padding: 0.6em 2.8em;
    border: none;
    cursor: pointer;
    margin-right: 1em;
    font-size: 1em;
    background-color: $secondary-color;
    border-radius: 0.4em;
    color: white;
    transition: 0.3s;
}

.note-form-save-btn:hover {
    background-color: $secondary-color-lighten-1;
}

.note-form-save-btn:focus, .note-form-save-btn:active {
    background-color: $secondary-color-lighten-2;
}

.note-form-cancel-btn {
    padding: 0.5em 2.5em;
    border: 2px solid $secondary-color;
    border-radius: 0.4em;
    color: $secondary-color;
    transition: 0.3s;
}

.note-form-cancel-btn:hover {
    background-color: $note-color-lighten-1;
}

.note-form-cancel-btn:focus, .note-form-cancel-btn:active {
    background-color: $note-color-lighten-2;
}

@media (min-width: 900px) {
    .note-form-wrapper form {
        width: 50%;
        margin-top: 2em;
    }

    .note-form-header {
        border-radius: 0.5em 0.5em 0 0;
    }

    .note-form-footer {
        border-radius: 0 0 0.5em 0.5em;
    }
}

/*notes-pages*/
.notes-container {
    padding: 2em;
}

.notes-container .error {
    display: block;
    width: 100%;
    padding: 1em;
    margin-bottom: 2em;
    color: white;
    background: rgb(66, 66, 66);
    border-left: 4px solid black;
    border-radius: 2px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.notes-container-btns {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
}

.notes-container-btns .create-note-btn {
    padding: 0.6em;
    display: inline-block;
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: 1em;
    background-color: $secondary-color;
    border-radius: 0.4em;
    color: white;
    transition: 0.3s;
}

.notes-container-btns .create-note-btn:hover {
    background-color: $secondary-color-lighten-1;
}

.notes-container-btns .create-note-btn:focus, .create-note-btn:active {
    background-color: $secondary-color-lighten-2;
}

.notes-container-btns .order-menu {
    padding: 0.4em;
    display: inline-block;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    border: none;
    border-bottom: 0.2em solid $secondary-color;
    font-size: 1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.notes-container-btns input[type=text] {
    padding: 0.4em;
    min-width: 0;
    display: inline-block;
    border: 0.2em solid $secondary-color;
    font-size: 1em;
    border-radius: 0.4em;
    transition: 0.3s;
}

.notes-container-btns input[type=text]:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.notes-container-btns input[type=text]:focus, .notes-container-btns input[type=text]:active {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.notes-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 2.5em;
}

.notes-list-item {
    background: $note-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.notes-list-item-header {
    border-bottom: 0.15em solid $secondary-color;
}

.note-header-title-wrapper {
    padding: 1em 1em 1em 3em;
    width: 100%;
}

.note-header-title-wrapper h3 {
    word-wrap: break-word;
    white-space: pre-wrap;
}

.notes-list-item-info {
    color: black;
    line-height: $page-line-height;
    background-image: -moz-linear-gradient(top, transparent $page-line-height - $page-underline-height, $secondary-color 0),
    -webkit-radial-gradient(1.5em, circle closest-side,$site-background-color 0.5em, transparent 0),
    -webkit-radial-gradient(1.45em 1.18em, circle closest-corner, black, rgba(0, 0, 0, 0.2) 0.5em, transparent 0);
    background-size: 100% $page-line-height;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note-list-item-date {
    padding-left: 3em;
    padding-right: 1em;
}

.notes-list-item-btns {
    display: flex;
}

.notes-list-item-open-btn {
    padding: 0.6em 2.8em;
    height: $page-line-height;
    background-color: white;
    display: inline-block;
    text-align: center;
    color: black;
    width: 50%;
    transition: 0.3s;
}

.notes-list-item-open-btn:hover {
    background-color: rgb(221, 221, 221);
}

.notes-list-item-open-btn:focus, .notes-list-item-open-btn:active {
    background-color: rgb(192, 192, 192);
}

.notes-list-item-delete-btn {
    height: $page-line-height;
    border: none;
    cursor: pointer;
    font-size: 1em;
    background-color: $secondary-color;
    color: white;
    width: 50%;
    transition: 0.3s;
}

.notes-list-item-delete-btn:hover {
    background-color: $secondary-color-lighten-1;
}

.notes-list-item-delete-btn:focus, .notes-list-item-delete-btn:active {
    background-color: $secondary-color-lighten-2;
}

.pagination {
    margin-top: 2em;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 0.5em;
    width: 100%;
}

.pagination > li {
    display: inline-block;
}

.pagination .pagination-btn {
    padding: 0.6em 1em;
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: 1em;
    background-color: $secondary-color;
    min-width: 2.5em;
    min-height: 2.5em;
    border-radius: 0.5em;
    color: white;
    transition: 0.3s;
}

.pagination .pagination-btn-active {
    background-color: $secondary-color-lighten-1;
}

.pagination .pagination-btn:hover {
    background-color: $secondary-color-lighten-2;
}

.pagination .pagination-btn:focus, .pagination-btn:active {
    background-color: $secondary-color-lighten-1;
}

.pagination .pagination-empty {
    padding: 0.6em;
}

@media (min-width: 900px) {
    .notes-container {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .notes-container-btns {
        flex-direction: row;
    }

    .notes-container-btns .create-note-btn {
        width: max-content;
        flex: 0 0 30%;
    }

    .notes-container-btns .order-menu {
        flex: 0 0 30%;
    }
    
    .notes-container-btns input[type=text] {
        flex: 0 0 30%;
    }
}

.delete-modal-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;
    background-color: transparentize($color: black, $amount: 0.1);
}

.delete-modal {
    position: absolute;
    background-color: $site-background-color;
    top: 0;
    margin-top: 5em;
    border-radius: 0.5em;
    padding: 2em;
}

.delete-modal h2 {
    text-align: center;
}

.delete-modal-btns {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1em;
}

.delete-modal-confirm {
    padding: 0.7em 2.8em;
    border: none;
    cursor: pointer;
    background-color: $secondary-color;
    color: white;
    font-size: 1em;
    border-radius: 0.4em;
    transition: 0.3s;
}

.delete-modal-confirm:hover {
    background-color: $secondary-color-lighten-1;
}

.delete-modal-confirm:focus, .delete-modal-confirm:active {
    background-color: $secondary-color-lighten-2;
}

.delete-modal-cancel {
    padding: 0.5em 2.8em;
    border: none;
    cursor: pointer;
    background-color: white;
    font-size: 1em;
    border: 0.2em solid $secondary-color;
    border-radius: 0.4em;
    transition: 0.3s;
}

.delete-modal-cancel:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.delete-modal-cancel:focus, .delete-modal-confirm:active {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

@media (min-width: 900px) {
    .delete-modal {
        width: 50%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .delete-modal-btns {
        flex-direction: row;
    }
}

/*utilities*/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-horizontally {
    display: flex;
    justify-content: center;
}

.center-vertically {
    display: flex;
    align-items: center;
}