@import '../variables';

.notePage {
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
}

.noteWrapper {
  width: 100%;
}

.noteHeader {
  @include notebook-page-header-styling;
  padding: 1em;
  padding-left: 3em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  h2,
  input {
    word-wrap: break-word;
    white-space: pre-wrap;
  }
}

.noteHeaderBtns {
  margin-top: 0.5em;
  display: flex;
  /*align top-left and don't stretch vertically*/
  justify-content: flex-end;
  align-items: flex-start;
}

.editBtn {
  padding: 0.5em 2em;
  margin-right: 1em;
  border: 0.15em solid $secondary-color;
  border-radius: 0.5em;
  font-size: 1em;
  color: $secondary-color;
  transition: 0.3s;

  &:hover {
    background-color: $note-color-lighten-1;
  }

  &:focus,
  &:active {
    background-color: $note-color-lighten-2;
  }
}

.deleteBtn {
  padding: 0.6em 1.5em;
  border: none;
  cursor: pointer;
  font-size: 1em;
  background-color: $secondary-color;
  border-radius: 0.5em;
  color: white;
  transition: 0.3s;

  &:hover {
    background-color: $secondary-color-lighten-1;
  }

  &:focus,
  &:active {
    background-color: $secondary-color-lighten-2;
  }
}

.noteBody {
  @include notebook-page-styling;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.noteFooter {
  background-color: $note-color;
  padding: 2em;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 900px) {
  .noteWrapper {
    width: 70%;
    margin-top: 2em;
  }

  .noteHeader {
    border-radius: 0.5em 0.5em 0 0;
  }

  .noteFooter {
    border-radius: 0 0 0.5em 0.5em;
  }
}

@media (min-width: 1200px) {
  .noteWrapper {
    width: 50%;
  }
}
