@import '../variables';

.formWrapper {
    display: flex;
    justify-content: center;

    form {
        width: 100%;
    }
}
    

.formHeader {
    @include notebook-page-header-styling;
    padding: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    h2 {
        text-align: center;
        margin-bottom: 0.3em;
    }
}


.error {
    text-align: center;
    margin-bottom: 0.3em;
}

.formTitle {
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 1.5em;
    width: 100%;
    resize: none;
    overflow: hidden;
    /*height is controlled by javascript, intialised here for compatibility reasons*/
    height: 0;
}

.formBody {
    @include notebook-page-styling;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: block;
    margin: 0;
    border: none;
    width: 100%;
    resize: none;
    /*height is controlled by javascript, intialised here for compatibility reasons*/
    height: $page-line-height;
}
        
.formFooter {
    position: relative;
    background-color: $note-color;
    padding: 1em;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
}

.saveBtn {
    padding: 0.6em 2.8em;
    border: none;
    cursor: pointer;
    margin-right: 1em;
    font-size: 1em;
    background-color: $secondary-color;
    border-radius: 0.4em;
    color: white;
    transition: 0.3s;

    &:hover {
        background-color: $secondary-color-lighten-1;
    }

    &:focus, &:active {
        background-color: $secondary-color-lighten-2;
    }
}
            
.cancelBtn {
    padding: 0.5em 2.5em;
    border: 0.15em solid $secondary-color;
    border-radius: 0.4em;
    color: $secondary-color;
    transition: 0.3s;

    &:hover {
        background-color: $note-color-lighten-1;
    }

    &:focus, &:active {
        background-color: $note-color-lighten-2;
    }
}

@media (min-width: 900px) {
    .formWrapper {
        form {
            width: 50%;
            margin-top: 2em;
        }
    }

    .formHeader {
        border-radius: 0.5em 0.5em 0 0;
    }

    .formFooter {
        border-radius: 0 0 0.5em 0.5em;
    }
}