@import '../variables';

.notesContainer {
  padding: 2em;
}

.error {
  display: block;
  width: 100%;
  padding: 1em;
  margin-bottom: 2em;
  color: white;
  background: rgb(66, 66, 66);
  border-left: 0.3em solid black;
  border-radius: 0.15em;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.notesContainerBtns {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.createNoteBtn {
  padding: 0.6em;
  display: inline-block;
  border: none;
  text-align: center;
  cursor: pointer;
  font-size: 1em;
  background-color: $secondary-color;
  border-radius: 0.5em;
  color: white;
  margin-bottom: 1em;
  transition: 0.3s;

  &:hover {
    background-color: $secondary-color-lighten-1;
  }

  &:focus,
  &:active {
    background-color: $secondary-color-lighten-2;
  }
}

.orderMenu {
  padding: 0.4em;
  display: inline-block;
  background-color: transparent;
  text-align-last: center;
  cursor: pointer;
  border: none;
  border-bottom: 0.2em solid $secondary-color;
  font-size: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 1em;
}

.searchField {
  padding: 0.4em;
  min-width: 0;
  display: inline-block;
  border: 0.2em solid $secondary-color;
  font-size: 1em;
  border-radius: 0.5em;
  transition: 0.3s;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  &:focus,
  &:active {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 900px) {
  .notesContainer {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .notesContainerBtns {
    flex-direction: row;
  }

  .createNoteBtn {
    width: max-content;
    flex: 0 0 30%;
    margin-bottom: 0;
  }

  .orderMenu {
    flex: 0 0 30%;
    margin-bottom: 0;
  }

  .searchField {
    flex: 0 0 30%;
  }
}

@media (min-width: 1200px) {
  .notesContainer {
    width: 60%;
  }
}
